<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">

</div>
<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
<div class="row">

<div class="col-md-1 col-lg-1">

</div>
    <div class="col-lg-10 col-md-10">
        <div ng-include src="navbarURL"></div>
<h3>Welcome {{currentUser.get('username')}}</h3>

        <hr>
        <button class="btn btn-primary pull-right" ng-click="isCollapsed = !isCollapsed">New Post</button>

        <div collapse="isCollapsed">
<hr>
            <div class="input-group col-lg-8 col-md-8">

                <alert ng-repeat="alert in alerts" type='{{alert.type}}' close="closeAlert($index)">{{alert.msg}} </alert>

                <span class="label label-primary">Title</span>
                <input type="text" class="form-control" ng-model="newBlog.title"/>
            </div>

            <div class="input-group col-lg-8 col-md-8">
                <span class="label label-primary">Post</span>
                <textarea type="textarea" class="form-control" ng-model="newBlog.post"/>
            </div>
            <br>
            <button class='btn btn-primary' ng-click="addBlog()">Add Post</button>
<hr>
        </div>



        <div class="input-group input-group-lg col-md-6 col-lg-6">
    <span class="input-group-addon glyphicon glyphicon-search"></span>
    <input type="text" class="form-control" ng-model="filter.title" typeahead="blog.get('title') for blog in blogs" typeahead-loading="LoadingTitles" placeholder="Search by Title"/>
</div>

<hr>
<tabset justified="true">

    <tab heading="All Blogs" ng-click="totalItemsToDisplay = totalItems"><div ng-repeat="blog in blogs | filter:filter.title | limitTo: blogLimitEnd | limitTo : -3">
        <br>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">{{blog.get('title')}}</h3>
            </div>
            <div class="panel-body">
                {{blog.get('post')}}
            </div>
            <div class="panel-footer">
                <div>Author - {{blog.get('author')}}<span class="pull-right">Created on {{ blog.updatedAt | date:'short' }}</span></div>
            </div>
        </div>
    </div>

    </tab>

    <tab heading="My Blogs" ng-click="totalItemsToDisplay = myTotalItems"><div ng-repeat="blog in myBlogs | filter:filter.title | limitTo: blogLimitEnd | limitTo : -3">
        <br>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">{{blog.get('title')}}</h3>
            </div>
            <div class="panel-body">
                {{blog.get('post')}}
            </div>
            <div class="panel-footer">
                <div>Author - {{blog.get('author')}}<span class="pull-right">Created on {{ blog.updatedAt | date:'short' }}</span></div>
            </div>
        </div>
    </div>
    </tab>
</tabset>


        <pagination class="pull-left" boundary-links="true" total-items="totalItemsToDisplay" items-per-page="3" ng-model="currentPage"
                    ng-click="setPage()" class="pagination-sm"
                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
        <hr>


</div>


</div>

<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">

</div>
    </div>