<h1>Welcome {{currentUser.get('username')}}</h1>
<label>Filter by Title</label>
<input type="text" class="form-inline" ng-model="filter.title"/>
<div ng-repeat="blog in blogs | filter:filter.title">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">{{blog.title}}</h3>
        </div>
        <div class="panel-body">
            {{blog.post}}
        </div>
    </div>
</div>

<label>Title</label> <input type="text" class="form-control" ng-model="newBlog.title"/>
<label>Post</label><textarea type="textarea" class="form-control" ng-model="newBlog.post"/>
<button class='btn btn-primary' ng-click="addBlog()">Add Post</button>
<button class="btn btn-danger pull-right" ng-click="logOut()">Log out</button>





