<form action="" method="POST" role="form" ng-show="scenario == 'register'">
    <h3>Register</h3>

    <div class="form-group">
        <label for="">Email-Id</label>
        <input type="text" class="form-control" ng-model="newUser.email" placeholder="e.g. abc@gmail.com">
    </div>
    <div class="form-group">
        <label for="">Username</label>
        <input type="text" class="form-control" ng-model="newUser.username" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="">Password</label>
        <input type="password" class="form-control" ng-model="newUser.password" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-primary" ng-click="signUp(user)">Submit</button>
</form>
