<br>
        <div class="row">

        <div class="col-md-2 col-lg-2">

        </div>

            <div class="col-md-8 col-lg-8">


<form action="" method="POST" role="form">
    <div class="form-group">
        <span class="label label-primary">Email Id</span>
        <input type="text" class="form-control" id="emailId" ng-model="newUser.email" placeholder="Email-Id">
    </div>
    <div class="form-group">
        <span class="label label-primary">Username</span>
        <input type="text" class="form-control" ng-model="newUser.username" placeholder="Username">
    </div>
    <div class="form-group">
        <span class="label label-primary">Password</span>
        <input type="password" class="form-control" ng-model="newUser.password" placeholder="Password">
    </div>

    <div class="text-center">
    <button type="submit" class="btn btn-success" ng-click="signUp(user)">Register</button>
    </div>
</form>
            </div>


                <div class="col-md-2 col-lg-2">

                </div>
            </div>