
<div ng-hide="currentUser">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <button class="btn btn-primary auth-toggle" ng-model="radioModel" btn-radio="'register'" ng-click='scenario="register"'>Register</button>
        <button class="btn btn-primary auth-toggle" ng-model="radioModel" btn-radio="'login'" ng-click='scenario="login"'>Login</button>
        <div ng-include src="loginViewURL"></div>
        <div ng-include src="registrationViewURL"></div>
    </div>

    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

    </div>


</div>

<div ng-show="currentUser">
    <h1>Welcome {{currentUser.get('username')}}</h1>
            <label>Filter by Title</label>
            <input type="text" class="form-inline" ng-model="filter.title"/>
                <div ng-repeat="blog in blogs | filter:filter.title">
                    <div class="panel panel-success">
                      <div class="panel-heading">
                            <h3 class="panel-title">{{blog.title}}</h3>
                      </div>
                      <div class="panel-body">
                          {{blog.post}}
                      </div>
            </div>
</div>

            <label>Title</label> <input type="text" class="form-control" ng-model="newBlog.title"/>
        <label>Post</label><textarea type="textarea" class="form-control" ng-model="newBlog.post"/>
            <button class='btn btn-primary' ng-click="addBlog()">Add Post</button>
    <button class="btn btn-danger pull-right" ng-click="logOut(user)">Log out</button>

    </div>

</div>



