<div class="container">

<div class=col-lg-3></div>
<div class=col-lg-6>
Filter by name<input type="text" data-ng-model="filter.name"/> {{name}}

<ul class="list-group">
<li class="list-group-item" data-ng-repeat="person in people | filter:filter.name | orderBy:'city'">{{person.name | uppercase}}</li>
</ul>
Name <input type="text" data-ng-model="newPerson.name"/>
City<input type="text" data-ng-model="newPerson.city"/>
<button class='btn btn-primary' ng-click="addPerson()">Add Person</button>
<a href="#/view2">View 2</a>
</div>
<div class=col-lg-3></div>
</div>